.child2 {
    flex: 1;
    max-width: 20%;
}

.temp {
    font-size: 50px;
}

.parent-container {
    width: 100%;
    display: flex;
    margin: 10px; 
}

.custom-border {
    background-color: #FFFFFF;
    border: 10px solid #BFD0F4;
    border-radius:20px;
}

.custom-box {
    flex: 1;
    margin: 10px; 
    box-sizing: border-box; 
}

.custom-primary {
    color: #000000;
    font-size: 30px;
    font-family: serif;
}

.custom-3hour {
    height: 10%;
    font-size: 15px;
    font-family: serif;
    padding: 10px;
    border-bottom: 1px  solid #000000;
}