.child50 {
    height: 50%;
}

.child25 {
    height: 25%;
}

.child75 {
    height: 75%;
}

.child2 {
    flex: 1;
    max-width: 20%;
}

.custom-border {
    background-color: #ffffff;
    border: 2px solid #009ACD;
    border-radius:20px;
}

.custom-primary {
    color: #000000;
    font-size: 30px;
    font-family: serif;
}