#weatherImage {
    width: fit-content;
}

.custom-border {
    border: 3px solid #000000;
}

.custom-primary {
    color: #000000;
    background-color: #ffffff;
    font-size: 30px;
    font-family: serif;
}