.child50 {
    height: 50%;
}

.child25 {
    height: 25%;
}

.child75 {
    height: 75%;
}

.child2 {
    flex: 1; 
    max-width: 20%;
}

.child3 {
    flex: 1;
    max-width: 12.5%;
}

.custom-border {
    border: 3px solid #000000;
}

.custom-primary {
    color: #000000;
    background-color: #ffffff;
    font-size: 30px;
    font-family: serif;
}